apiVersion: v1
kind: ServiceAccount
metadata:
  name: kpqe-sa
  namespace: observability
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: kpqe-readonly
rules:
- apiGroups: [""]
  resources:
    - pods
    - nodes
    - namespaces
  verbs: ["get", "list", "watch"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: kpqe-readonly-binding
subjects:
- kind: ServiceAccount
  name: kpqe-sa
  namespace: observability
roleRef:
  kind: ClusterRole
  name: kpqe-readonly
  apiGroup: rbac.authorization.k8s.io
