security-testing:
  name: Security Testing (Gitleaks + Semgrep + Trivy)
  runs-on: ubuntu-latest
  needs: test-and-report

  steps:
    # 1) Checkout Governance Repo (jisme security-testing folder hai)
    - name: Checkout code
      uses: actions/checkout@v4

    # 2) Setup Python (Semgrep ke liye)
    - name: Setup Python 3.11
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"

    # 3) Clone Target App Repo (same as testing job)
    - name: Clone Target Big Mart Repo
      run: |
        git clone https://github.com/asutosh-2000/Big-Mart-Sales-Prediction.git target-app
        echo "===== Target Repo Files ====="
        ls -la target-app

    # 4) Make scripts executable
    - name: Make scripts executable
      run: chmod +x security-testing/*.sh

    # 5) Run Gitleaks
    - name: Run Gitleaks
      run: ./security-testing/run-gitleaks.sh

    # 6) Run Semgrep
    - name: Run Semgrep
      run: ./security-testing/run-semgrep.sh

    # 7) Run Trivy
    - name: Run Trivy
      run: ./security-testing/run-trivy.sh

    # 8) Upload Security Reports
    - name: Upload Security Reports
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: security-reports
        path: security-testing/reports/
